#App port
# PORT = 3000
PORT=***************

#Database Configuation (not actual)

DB_HOST=**********************************
DB_PORT=********************
DB_NAME=********************************
DB_PASSWORD=********************************
DB_USER=*******************************
DB_TYPE=*******************************

#Jwt credentials
ACCESS_TOKEN_SECRET=***************************************
REFRESH_TOKEN_SECRET=************************************
TOKEN_EXPIRES_IN = *************

#hashing password
SALT=********************************

#mailer
HOST=****************************
USER=*********************************
SERVICE=***************************
PASS=*****************************

# URL
BASE_URL=**********************************


#Google
GoogleClientID = ***********************************
GoogleClientSecret = **********************************
Google_Redirect_Url = **********************************

#Facebook
FacebookClientID = ***********************
FacbookClientSecret = ********************************
Facebook_Redirect_Url = ********************************



#express-session Secret
SESSION_SECRET = ***************************************
SESSION_TABLE_NAME = *******************************
